@import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300');

body {
    background: url('../img/sparks.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:#fff;
    background-color:#333;
    font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
}

.nounderline {
    text-decoration: none !important;
}
