@font-face {
    font-family: Antipasto;
    src: url('../fonts/Antipasto.ttf');
}

@font-face {
    font-family: Yorkville;
    src: url('../fonts/Yorkville.ttf');
}

body {
    background: url('../img/sparks.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:#fff;
    background-color:#333;
    font-family: 'Antipasto',Arial,Helvetica,Sans-Serif;
}

.nounderline {
    text-decoration: none !important;
}
